<% if can? :search, Provider %>
	<div ng-controller="SearchCtrl" class="filter-form container">

		<div class="row">
			<div class="loader" data-initialize="loader" data-ng-show="loading">
				<i class="fa fa-refresh fa-spin"></i>
			</div>
			<form class="col-lg-8" style="margin:0 auto; float:none;" ng-submit="search(q)">
				<div class="input-group search-form">
					<input type="text" class="form-control" ng-model="q" placeholder="<%= t(:hint_pesquisa_providers) %>">
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</span>
				</div>
			</form>
		</div>

		<div class="row" ng-repeat="p in providers">
			<a href="providers/{{p.slug}}">
				<div class="col-md-12 col-sm-12 list-profile">
					<div class="col-md-2 col-sm-3 image-container-list hidden-xs">
						<img class="profile_listing_image" ng-src="{{p.image['thumb'].url}}"> </img>
					</div>
					<div class="col-md-10 col-sm-9 listing-profile-info ">
						<h4 class="h6">{{p.first_name}} {{p.last_name | limitTo:30}}<div id="provider_rating" ng-show="hasScore(p.score, this)" data-score={{p.score}} style="float:right">  </div></h4>
		        <h4 class="h4"><%= t(:experience) %>: {{ p.experience | limitTo:200 }} </h4>
		          <span class="tags hidden-xs" ng-repeat="s in p.profession | limitTo:6" ng-class"tags hidden-xs">
		          	<%= content_tag :button , :class => "btn btn-info btn-embossed btn-sm" do %>
		          	   {{s.name}}
		          	<% end %>
		          </span>
		        </p>
					</div>
				</div>
		  </a>
			<div class="separator">
				<ul class="nav nav-list">
				  <li class="divider"></li>
				</ul>
			</div>
		</div>

		<center>
			<nav ng-show="total_pages > 1">
				<div class="pagination">
				  <ul>
				    <li  ng-class="{'disabled': current_page == 1 }" class="previous">
				      <a href="#" class="fui-arrow-left" ng-click="prev()" ></a>
				    </li>
				    <li ng-repeat="n in range()" ng-click="setPage(n+1)" ng-class="{active: n+1 == current_page}">
		         <a href="#">{{n+1}}</a>
		        </li>
				    <li ng-class="{'disabled': current_page == total_pages }" class="next">
				      <a href="#" class="fui-arrow-right" ng-click="next()"></a>
				    </li>
			 	  </ul>
			  </div>
			</nav>
		</center>

	</div>
<% end %>




