<h1>Encontre o melhor profissional para seu casamento</h1>

<table class="table table-hover">

	<tr>
      <th>Nome</th>
      <th>Profissão</th>
      <th>Experiência</th>
    </tr>

    <tbody>
	  	<% @providers.each do |p| %>
		  	<tr>
	  			<td><%= link_to p.first_name, p %></td>
	  			<td><%= p.profession %></td>
	  			<td><%= p.experience %></td>
	  		</tr>
  		<% end %>
    </tbody>
</table>



