<div ng-controller="SearchCtrl">

	<div class="row">
		<div class="col-lg-8 center">
			<div class="input-group search-form">
				<input type="text" class="form-control" ng-model="q">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button" ng-click="search(q)">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</span>
			</div>
		</div>
	</div>

	<div class="row" ng-repeat="p in providers">
		<div class="col-md-8 col-lg-6">
	    	 <div class="well profile">
	            <div class="col-sm-12">
	                <div class="col-xs-12 col-sm-8">
	                	  <h2><a href="providers/{{p.slug}}">{{p.first_name}} {{p.last_name}}</a></h2>
	                    <p><strong><%= t(:experience) %>: </strong> {{p.experience}}  </p>
	                    <p><strong>Serviços: </strong>
                        <span class="tags" ng-repeat="s in p.profession" ng-class"tags">
                              {{s.name}}
                        </span>
	                    </p>
	                </div>
	                <div class="col-xs-12 col-sm-4 text-center">
	                    <figure>
	                    	  <img class="media-object img-responsive" ng-src="{{p.image['thumb'].url}}"> </img>

	                        <figcaption class="ratings">
	                           <div id="provider_rating" data-score="{{p.score}}" ></div>
	                        </figcaption>
	                    </figure>
	                </div>
	            </div>
	    	 </div>
		</div>
	</div>
</div>

