<h1>Encontre o melhor profissional para seu casamento</h1>

	<% @providers.each do |p| %>
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-lg-6">
	    	 <div class="well profile">
	            <div class="col-sm-12">
	                <div class="col-xs-12 col-sm-8">
	                    <h2><%= link_to p.first_name+" "+p.last_name, p%></h2>
	                    <p><strong>Profissão: </strong> <%= p.profession %> </p>
	                    <p><strong>Experiência: </strong> <%= p.experience %> </p>
	                    <p><strong>Skills: </strong>
	                        <span class="tags">html5</span> 
	                        <span class="tags">css3</span>
	                        <span class="tags">jquery</span>
	                        <span class="tags">bootstrap3</span>
	                    </p>
	                </div>             
	                <div class="col-xs-12 col-sm-4 text-center">
	                    <figure>
	                        <img src="http://www.localcrimenews.com/wp-content/uploads/2013/07/default-user-icon-profile.png" alt="" class="img-circle img-responsive">
	                        <figcaption class="ratings">
	                            <p>Ratings
	                            <a href="#">
	                                <span class="fa fa-star"></span>
	                            </a>
	                            <a href="#">
	                                <span class="fa fa-star"></span>
	                            </a>
	                            <a href="#">
	                                <span class="fa fa-star"></span>
	                            </a>
	                            <a href="#">
	                                <span class="fa fa-star"></span>
	                            </a>
	                            <a href="#">
	                                 <span class="fa fa-star-o"></span>
	                            </a> 
	                            </p>
	                        </figcaption>
	                    </figure>
	                </div>
	            </div>            

	    	 </div>                 
			</div>
		</div>
	</div>
<% end %>
