<% content_for :meta_tag do %>
  <title>Himeneu - Politica de privacidade</title>
<% end %>
<div class="container">
  <div class="row">
    <p><strong>Informações do Usuário</strong></p>
    <p>
        Para que possamos oferecer um site melhor e mais direcionado às suas preferências, processar eventuais pedidos e reclamações, informá-lo sobre alterações relevantes em nossos serviços ou relacionadas às suas buscas, compreender suas preferências nas escolhas efetuadas por meio do site, sugerir promoções de acordo com seus critérios, de forma a tornar sua busca mais próxima aos seus interesses, é importante contarmos com suas informações.
    </p>
    <p>
        Sua privacidade é nossa preocupação. Temos o compromisso de preservá-la.
        Nossa política de privacidade visa assegurar a garantia de que, quaisquer informações relativas aos usuários, não serão fornecidas, publicadas ou comercializadas em quaisquer circunstâncias, ou seja, suas informações estarão seguras conosco e não serão transmitidas a terceiros fora da Himeneu, exceto nas condições previstas pela presente política de privacidade, precisamente no tocante à verificação de sua identidade para fins de segurança, de forma a prevenir ou detectar crimes em desfavor do usuário ou do próprio Himeneu.
    </p>
    <p>
        Suas informações cadastrais ficam disponibilizadas através das seguintes maneiras: quando você efetua o seu cadastro no Himeneu, quando você efetua a indicação de prestadores de serviços na Himeneu e através de cookies, arquivos que podem ser livremente alterados pelo usuário na configuração de seu navegador e que estão relacionados às suas visitas em nossos sites.
    </p>
    <p><strong> Cadastro</strong></p>
    <p>
        Para usufruir os benefícios do site e obter informações sobre nossos serviços, você precisa se cadastrar no Himeneu. Este cadastro é armazenado em um banco de dados protegido e sigiloso. Qualquer comunicação enviada diretamente para seu email será através do boletim periódico do Himeneu. Seu email não será divulgado.
    </p>
    <p>
        Caso você não queira mais receber comunicados diretos do Himeneu em seu e-mail, poderá clicar na opção indicada pela Himeneu para cancelar o cadastro, contida em todos os comunicados enviados pelo Himeneu. Ainda, caso o usuário dos serviços, seja internauta, ou prestador de serviços não tenha interesse na publicação dos seus dados no site do Himeneu, poderá cancelar o cadastro, fazendo com que o seu perfil seja automaticamente desvinculado do Himeneu.
    </p>
    <p><strong>Cookies</strong></p>
    <p>
        Os Cookies são informações enviadas pelo servidor do Himeneu ao computador do usuário, que auxilia na identificação de seu IP e na facilidade e eficiência de sua navegação, simplificando o login de usuários cadastrados, auxiliando na garantia de segurança e autenticidade dos acessos, bem como para controle interno de audiência e de preferências. A aceitação ou não dos cookies pode ser livremente alterada na configuração de seu navegador. Se você, Usuário, preferir que seus dados não sejam coletados, clique no link disponível através do endereço <a href="www.himeneu.com">http://www.himeneu.com</a>.
    </p>
    <p>
        Quando o usuário desrespeitar alguma regra de segurança ou exercer alguma atividade prejudicial ao bom funcionamento do site, como por exemplo, tentativas de hackear o serviço, o Himeneu, para proteção e segurança do site e dos demais usuários, pode adotar medidas para identificar o usuário e coibir tais condutas ilícitas.
    </p>
    <p>
        O menu de ajuda na barra de seu navegador poderá auxiliá-lo a evitar a inserção de novos cookies ou desativá-los. No entanto, caso não saiba como alterar suas configurações de privacidade, entre em contato conosco pelo endereço informado ao final deste e poderemos auxiliá-lo.
    </p>
    <p><strong>Compartilhamento de informações</strong></p>
    <p>
        Como já informamos, para fins de segurança, as informações poderão ser compartilhadas quando houver requerimento de autoridades judiciais ou governamentais competentes para fins de investigações pessoais conduzidas por elas, mesmo que não exista uma ordem judicial, por exemplo (e sem limitar-se a) quando tratar-se de investigação de caráter penal ou a violação de direitos do autor, ressalvadas as hipóteses de sigilo de informações determinadas por leis em vigor, ou ainda, comunicar informações quando haja motivos suficientes para considerar que a atividade de um usuário seja suspeita de tentar ou de cometer um delito ou tentar prejudicar outras pessoas. Este direito será utilizado pelo Himeneu a sua inteira discrição quando o considere apropriado ou necessário para manter a integridade e a segurança da comunidade e de seus usuários.
    </p>
    <p>
        Atenção: O Himeneu pode possuir links de acesso para outros sites e que não estão cobertos por esta política. Assim, verifique a política de privacidade desses sites, tendo em vista que suas informações serão administradas de acordo com a política de cada um deles e que podem diferenciar das nossas.
    </p>
    <p><strong>Segurança das Informações</strong></p>
    <p>
        Todos os dados pessoais informados ao nosso site são armazenados em um banco de dados reservado e com acesso restrito à pessoas habilitadas, que são obrigadas, por contrato, a manter a confidencialidade das informações e não utilizá-las inadequadamente.
    </p>
    <p><strong> Dúvidas e correção de dados</strong></p>
    <p>
        <strong> Em caso de dúvidas o usuário poderá entrar em contato pelo e-mail:</strong>
         <%= mail_to 'contato@himeneu.com' %> .

    </p>
    <p>
        Gostaríamos de ouvir sua opinião sobre nossos serviços e em algumas oportunidades poderemos entrar em contato. No entanto, como já afirmamos, caso não tenha interesse em receber nosso contato, basta nos informar.
    </p>
    <p>
        Caso tenha interesse em verificar a correção de seus dados, solicite uma cópia para  <%= mail_to 'contato@himeneu.com' %> . Se algum dos dados estiver incorretos, avise-nos e vamos alterá-los.
    </p>
    <p>
        Esta política substitui todas as versões anteriores.
    </p>
    <p>
        Reservamo-nos o direito de alterar a política a qualquer momento.
    </p>
        Assegurar a sua privacidade é mais um compromisso da Himeneu com você!
    </p>
  </div>
</div>