<div class="container-fluid jumbo" data-stellar-background-ratio="0.5">
  <div class="row-fluid">
    <div class="col-md-12">
    	<div class="col-md-6">
      </div>
      <div class="col-md-6 jumbo-text">
        <h1 class="h1">
            Divulgue seu trabalho!
        </h1>
        <p class="lead">
            Milhares de noivos usam o Himeneu para encontrar profissionais como você! Não fique de fora e anuncie seu trabalho gratuitamente agora mesmo. 
        </p>
        <div class="row-fluid button-row">
            <a class="btn btn-primary btn-lg wow fadeIn animated" data-wow-delay="0.3s" role="button" href="<%= new_user_registration_path %>">Divulgue seu trabalho</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="destaque row-fluid">
  <div class="col-md-12">
      <div class="col-md-6">
      <h4 class="h6 text-container-right">
          Milhares de noivos usam o Himeneu para encontrar profissionais como você! Não fique de fora e anuncie seu trabalho gratuitamente agora mesmo. 
      </h4>
      </div>
      <div class="col-md-6 destaq1-image">
      </div>
  </div>
</div>
<div class="destaque row-fluid">
  <div class="col-md-12">
      <div class="col-md-6 destaq2-image">
      </div>
      <div class="col-md-6">
        <h4 class="h6 text-container-left">
            Milhares de noivos usam o Himeneu para encontrar profissionais como você! Não fique de fora e anuncie seu trabalho gratuitamente agora mesmo. 
        </h4>
      </div>
  </div>
</div>

<div class="row button-call">
  <div class="button-centralized">
      <a class="btn btn-default btn-hg wow fadeIn animated" data-wow-delay="0.3s" role="button" href="<%= new_user_registration_path %>">Crie seu perfil gratuitamente</a>
  
    <h4 class="h6">
      E divulgue seus serviços a milhares de novos clientes agora mesmo
    </h4>
    </div>
</div>