<div class="container-fluid jumbo" data-stellar-background-ratio="0.5">
  <div class="row-fluid">
    <div class="col-md-12">
    	<div class="col-md-6">
      </div>
      <div class="col-md-6 jumbo-text">
        <h1 class="h1">
            Divulgue seu trabalho!
        </h1>
        <h4 class="h4">
          <small>
            Milhares de noivos usam o Himeneu para encontrar profissionais como você! Não fique de fora e anuncie seu trabalho gratuitamente agora mesmo. 
           </small>
        </h4>
        <div class="row-fluid button-row">
            <a class="btn btn-primary btn-lg wow fadeIn animated" data-wow-delay="0.3s" role="button" href="<%= new_user_registration_path %>">Divulgue seu trabalho</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="destaque1 row-fluid">
  <div class="col-md-12">
      <div class="col-md-6">
      </div>
      <div class="col-md-6 destaq-image">
      </div>
  </div>
</div>