packages:
  yum:
    postgresql-devel: []
    ruby-devel: []
    gcc: []
  rpm:
    epel: http://download.fedoraproject.org/pub/epel/5/i386/epel-release-5-4.noarch.rpm
  files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/50_restart_sidekiq":
    mode: "000777"
    content: |
      cd /var/app/current

      if [ -f /var/app/current/tmp/sidekiq.pid ]
      then
        kill -TERM `cat /var/app/current/tmp/sidekiq.pid`
        rm -rf /var/app/current/tmp/sidekiq.pid
      fi

      . /opt/elasticbeanstalk/support/envvars.d/sysenv

      bundle exec sidekiq -C config/sidekiq.yml -e production  -d


  "/opt/elasticbeanstalk/hooks/appdeploy/pre/03_mute_sidekiq":
    mode: "000777"
    content: |
      if [ -f /var/app/current/tmp/sidekiq.pid ]
      then
        kill -USR1 `cat /var/app/current/tmp/sidekiq.pid`
      f

