<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> <%= @customer.full_name %>,</h1>
    <p>
      O fornecedor, <%= @provider.first_name %> enviou a seguinte reposta do orçamento.<br>
    </p>
    <p>
      <%= @description %>
    </p>
    </br>
    <p>Tenha um ótimo dia!</p>
    Himeneu
  </body>
</html>
