<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> <%= @provider.first_name %>,</h1>
    <p>
      A noiva, <%= @customer.full_name %> enviou um pedido de orçamento para o evento com a seguinte descrição<br>
    </p>
    <p>
      <%= @description %>
    </p>
    <p>
      Para entrar em contato, clique no link: <%= link_to t(:bride), @url %>.
    </p>
    <p>Tenha um ótimo dia!</p>
    Himeneu
  </body>
</html>
