<% if can? :search, Customer %>
  <div ng-controller="CustomerCtrl" class="filter-form container" >

    <div class="row">
      <form class="col-lg-8" style="margin:0 auto; float:none;" ng-submit="search(q)">
        <div class="input-group search-form">
          <input type="text" class="form-control" ng-model="q" placeholder="Pesquise noivas(os)">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit" >
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      </form>
    </div>

    <div class="row" ng-repeat="c in customers">
      <a href="customers/{{c.slug}}">
        <div class="col-md-12 col-sm-12 list-profile">
          <div class="col-md-2 col-sm-3 image-container-list hidden-xs">
            <img class="profile_listing_image" ng-src="{{c.image['thumb'].url}}"> </img>
          </div>
          <div class="col-md-10 col-sm-9 listing-profile-info ">
            <h4>{{c.first_name}} {{c.last_name}}</h4>
            <p><strong><%= t(:city) %>: </strong> {{c.address.city}}  </p>
            <p><strong><%= t(:wedding_date) %>: </strong> {{c.wedding_date | date:'dd/MM/yyyy'}} </p>
          </div>
        </div>
      </a>
      <div class="separator">
        <ul class="nav nav-list">
          <li class="divider"></li>
        </ul>
      </div>
    </div>
  </div>
<% end %>