.providers {
    .header-profile {
      margin-top: 30px;
    }

    .img_profile {
      width: 255px;
      height: 255px;
    }


    .contact-info-box {
      background-color: #fff;
      margin-top: 25px;
      border: 1px solid #dce0e0;
    }

    .contact-info-box-body {
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;

      li {
      font-size: 15px;
      }
    }

    .contact-info-box-header {
      background-color: #edefed;
      padding-top: 1px;
      padding-bottom: 1px;
      text-align: center;

      .h6 {
        font-size: 16px;
      }
    }

    .text-about {
      padding-top: 20px;
      padding-left: 0px;

      p {
        font-size: 17px;
      }
    }

    .images-profile {
        margin-bottom: 30px;

        .images-container {
            margin-bottom: 20px;
        }
    }

    .about-box {
        height: 230px;
    }

    .edit-button {
        font-size: 20px;
    }

    .tab-content{
        height: 450px;
    }

    .social-info-box {
        background-color: #fff;
        margin-top: 25px;
        border: 1px solid #dce0e0;
    }

/*---------------------*/

    .divider{
        border-top:1px solid rgba(0,0,0,0.1);
    }
    .emphasis{
        border-top: 4px solid transparent;
    }
    .emphasis:hover{
        border-top: 4px solid #1abc9c;
    }
    .emphasis h2{
        margin-bottom:0;
    }


      .media .media-object { max-width: 120px; }
      .media-body { position: relative; }
      .media-comment { margin-bottom: 20px; }
      .media-date {
          position: absolute;
          right: 25px;
          top: 25px;
      }
      .media-date li { padding: 0; }
      .media-date li:first-child:before { content: ''; }
      .media-date li:before {
          content: '.';
          margin-left: -2px;
          margin-right: 2px;
      }
       .list-profile {
          padding: 0;
          height: 160px;
          overflow:hidden;
      }

      .list-profile:hover {
        background-color: #e7e7e7;
      }

      .image-container-list {
          padding: 0;
          height: 170px
      }

      a:hover{
          color: #23547E;
          text-decoration: none
      }


     .listing-profile-info {
          height: 120px;
          margin-top: 20px;

          .h6 {
            font-size: 16px;
            color: #34495E;
          }

          .h4 {
            font-size: 14px;
            color: #34495E;
          }

      }

      .profile_listing_image {
          height: 110px;
          width: 110px;
          top: 50%;
          margin-top: -60px;
          position: absolute;
          left: 50%;
          margin-left: -22px;
      }


      .profile_image {
          height: 130px;
          width: 130px;

      }
      .datepicker{
        border: 1px solid #ccc;
      }
       .listing-mobile p {
          font-size: 12px;
          margin-bottom: 10px;
      }


}
