.providers {
    .header-profile {
      margin-top: 30px;
    }


    .contact-info-box {
      background-color: #fff;
      margin-top: 25px;
      border: 1px solid #dce0e0;
    }

    .contact-info-box-body {
      text-align: center;
      padding-top: 10px;

      li {
      font-size: 15px;
      }
    }

    .contact-info-box-header {
      background-color: #edefed;
      padding-top: 1px;
      padding-bottom: 1px;
      text-align: center;

      .h6 {
        font-size: 16px;
      }
    }

    .text-about {
      padding-top: 20px;
      padding-left: 0px;

      p {
        font-size: 17px;
      }
    }

    .images-profile {
        margin-bottom: 30px;

        .images-container {
            margin-bottom: 20px;
        }
    }

    .about-box {
        height: 230px;
    }

    .edit-button {
        font-size: 20px;
    }

    .tab-content{
        height: 450px;
    }

    .social-info-box {
        background-color: #fff;
        margin-top: 25px;
        border: 1px solid #dce0e0;
    }
}
